.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

body {
    background-color: darkblue;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.table-striped-rows tr:nth-child(2n) td {
    background-color: rgb(245, 237, 237);
}

.table-striped-rows thead {
    background-color: #130808;
}

.backgroundLogin {
    background-image: url("../public/images/292425381_1636800160046535_3933860539575533942_n.png");
    background-size: cover;
}

.ant-page-header-heading-title {
    font-size: 30px;
}

.ant-table-thead .ant-table-cell {
    background-color: rgb(204, 241, 187);
}